body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0c0c0c;
}

.user-card {
    background-color: #dddbdc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-name {
    font-size: 24px;
    margin: 10px 0;
    color: #310479;
}

.user-bio {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
}

.contact-info p {
    margin: 5px 0;
    color: #555;
}